<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank You</title>
</head>
<body>
  <h2>Thanks, <%= name %>! Your message has been received.</h2>
  <a href="/">Go Back</a>
</body>
</html>
